# ACS cleaning code for years 2009-2019 #

This code is to extract and clean the ACS data at the census tract level for NYC

The ACS 5-year estimates datasets were downloaded from socialexplorer.com

In [1]:
import pandas as pd
import numpy as np
import os
import glob

os. getcwd()

'G:\\My Drive\\PhD Program\\4_Spring 2022\\Machine Learning for Cities\\machine-learning-final\\code'

In [2]:
fp = r"G:/.shortcut-targets-by-id/1hgVHDpl_iZ7es6sKW0QRlC9X6SF58wk7/Machine Learning 4 Cities Final Project/Data/"

year = str(2009)
filename = "1_raw_data/census_acs/ACS"+str(year)+".txt"
data = pd.read_csv(fp+filename, sep='\t')
data2 = data[["Geo_FIPS", "SE_A00001_001", "SE_A00002_002", "SE_A00002_003", "SE_A02001_002", 
              "SE_A02001_003", "SE_B01001_002", "SE_B01001_003", "SE_B01001_004", "SE_B01001_005",
              "SE_A04001_010", "SE_A04001_003", "SE_A04001_004", "SE_A04001_005", "SE_A04001_006",
              "SE_A04001_007", "SE_A04001_008", "SE_A04001_009", "SE_A10060_001", "SE_A10060_002", 
              "SE_A10060_003", "SE_A10028_002", "SE_A10028_003", "SE_A10028_004", "SE_A10028_005", 
              "SE_A10028_006", "SE_A10046B_002", "SE_A10046B_003", "SE_A10046B_004", "SE_A10046B_005", 
              "SE_A10046B_006", "SE_A10057_001", "SE_A18009_001", "SE_A14006_001", "SE_A14028_001"]]

In [3]:
data2.head()

,Geo_FIPS,SE_A00001_001,SE_A00002_002,SE_A00002_003,SE_A02001_002,SE_A02001_003,SE_B01001_002,SE_B01001_003,SE_B01001_004,SE_B01001_005,...,SE_A10028_006,SE_A10046B_002,SE_A10046B_003,SE_A10046B_004,SE_A10046B_005,SE_A10046B_006,SE_A10057_001,SE_A18009_001,SE_A14006_001,SE_A14028_001
0,36005000100,11355,17588.760,0.645583,10175,1180,471,6004,4847,33,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,36005000200,4257,24460.300,0.174037,2063,2194,1275,1033,1634,315,...,0,130,296,51,14,0,1947.0,1328.0,55797.0,0.353
2,36005000400,4625,16518.510,0.279989,2275,2350,1147,1176,1971,331,...,0,206,311,0,0,0,1973.0,1430.0,70486.0,0.380
3,36005000500,0,0.000,0.031438,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,36005001100,572,3492.311,0.163788,255,317,200,57,265,50,...,0,68,187,15,13,0,1996.0,569.0,8554.0,0.593

In [4]:
data2.rename(columns = {"Geo_FIPS": "geofips",
                        "SE_A00001_001": "totpop",
                        "SE_A00002_002": "popdens",
                        "SE_A00002_003": "areasqmile",
                        'SE_A02001_002': "males",
                        'SE_A02001_003': "females",
                        "SE_B01001_002": "pop18under",
                        "SE_B01001_003": "pop18_34",
                        "SE_B01001_004": "pop35_64",
                        "SE_B01001_005": "pop65plus",
                        "SE_A04001_003": "popnhwhite",
                        "SE_A04001_004": "popnhblack",
                        "SE_A04001_005": "popnhaian",
                        "SE_A04001_006": "popnhasian",
                        "SE_A04001_007": "popnhhawainpi",
                        "SE_A04001_008": "popnhother",
                        "SE_A04001_009": "popnhtwoplus",
                        "SE_A04001_010": "pophispanic",
                        "SE_A10060_001": "housing",
                        "SE_A10060_002": "housingoccupied",
                        "SE_A10060_003": "renterhousing",
                        "SE_A10028_002": "oc_halfless", 
                        "SE_A10028_003": "oc_half_1", 
                        "SE_A10028_004": "oc_1_onehalf",
                        "SE_A10028_005": "oc_onehalf_2",
                        "SE_A10028_006": "oc_2plus",
                        "SE_A10046B_002": "roc_halfless",
                        "SE_A10046B_003": "roc_half_1",
                        "SE_A10046B_004": "roc_1_onehalf",
                        "SE_A10046B_005": "roc_onehalf_2", 
                        "SE_A10046B_006": "roc_2plus",
                        "SE_A10057_001": "medianyearbuilt",
                        "SE_A18009_001": "mediangrossrent",
                        "SE_A14006_001": "medianhhincome",
                        "SE_A14028_001": "gini"}, inplace = True)

data2["year"] = year

C:\Users\rivera30\Anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\rivera30\AppData\Local\Temp/ipykernel_33640/1931189716.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["year"] = year

In [5]:
data2.head()

,geofips,totpop,popdens,areasqmile,males,females,pop18under,pop18_34,pop35_64,pop65plus,...,roc_halfless,roc_half_1,roc_1_onehalf,roc_onehalf_2,roc_2plus,medianyearbuilt,mediangrossrent,medianhhincome,gini,year
0,36005000100,11355,17588.760,0.645583,10175,1180,471,6004,4847,33,...,0,0,0,0,0,NaN,NaN,NaN,NaN,2009
1,36005000200,4257,24460.300,0.174037,2063,2194,1275,1033,1634,315,...,130,296,51,14,0,1947.0,1328.0,55797.0,0.353,2009
2,36005000400,4625,16518.510,0.279989,2275,2350,1147,1176,1971,331,...,206,311,0,0,0,1973.0,1430.0,70486.0,0.380,2009
3,36005000500,0,0.000,0.031438,0,0,0,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,2009
4,36005001100,572,3492.311,0.163788,255,317,200,57,265,50,...,68,187,15,13,0,1996.0,569.0,8554.0,0.593,2009

In [16]:
#create a loop to extract the same variables as above for subsequent years

for year in range(2009, 2020):
    filename = "1_raw_data/census_acs/ACS"+str(year)+".txt"
    print("Reading in file: " + filename)
    fp = r"G:/.shortcut-targets-by-id/1hgVHDpl_iZ7es6sKW0QRlC9X6SF58wk7/Machine Learning 4 Cities Final Project/Data/"
    data = pd.read_csv(fp+filename, sep='\t')
  
 #Keep only variables we are interested
    data2 = data[["Geo_FIPS", "SE_A00001_001", "SE_A00002_002", "SE_A00002_003", "SE_A02001_002", 
              "SE_A02001_003", "SE_B01001_002", "SE_B01001_003", "SE_B01001_004", "SE_B01001_005",
              "SE_A04001_010", "SE_A04001_003", "SE_A04001_004", "SE_A04001_005", "SE_A04001_006",
              "SE_A04001_007", "SE_A04001_008", "SE_A04001_009", "SE_A10060_001", "SE_A10060_002", 
              "SE_A10060_003", "SE_A10028_002", "SE_A10028_003", "SE_A10028_004", "SE_A10028_005", 
              "SE_A10028_006", "SE_A10046B_002", "SE_A10046B_003", "SE_A10046B_004", "SE_A10046B_005", 
              "SE_A10046B_006", "SE_A10057_001", "SE_A18009_001", "SE_A14006_001", "SE_A14028_001"]]
  
 #Rename variables
    data2.rename(columns = {"Geo_FIPS": "geofips",
                        "SE_A00001_001": "totpop",
                        "SE_A00002_002": "popdens",
                        "SE_A00002_003": "areasqmile",
                        'SE_A02001_002': "males",
                        'SE_A02001_003': "females",
                        "SE_B01001_002": "pop18under",
                        "SE_B01001_003": "pop18_34",
                        "SE_B01001_004": "pop35_64",
                        "SE_B01001_005": "pop65plus",
                        "SE_A04001_003": "popnhwhite",
                        "SE_A04001_004": "popnhblack",
                        "SE_A04001_005": "popnhaian",
                        "SE_A04001_006": "popnhasian",
                        "SE_A04001_007": "popnhhawainpi",
                        "SE_A04001_008": "popnhother",
                        "SE_A04001_009": "popnhtwoplus",
                        "SE_A04001_010": "pophispanic",
                        "SE_A10060_001": "housing",
                        "SE_A10060_002": "housingoccupied",
                        "SE_A10060_003": "renterhousing",
                        "SE_A10028_002": "oc_halfless", 
                        "SE_A10028_003": "oc_half_1", 
                        "SE_A10028_004": "oc_1_onehalf",
                        "SE_A10028_005": "oc_onehalf_2",
                        "SE_A10028_006": "oc_2plus",
                        "SE_A10046B_002": "roc_halfless",
                        "SE_A10046B_003": "roc_half_1",
                        "SE_A10046B_004": "roc_1_onehalf",
                        "SE_A10046B_005": "roc_onehalf_2", 
                        "SE_A10046B_006": "roc_2plus",
                        "SE_A10057_001": "medianyearbuilt",
                        "SE_A18009_001": "mediangrossrent",
                        "SE_A14006_001": "medianhhincome",
                        "SE_A14028_001": "gini"}, inplace = True)
    data2["year"] = year  #Add a column for the year of the ACS
    fp = r"G:/.shortcut-targets-by-id/1hgVHDpl_iZ7es6sKW0QRlC9X6SF58wk7/Machine Learning 4 Cities Final Project/Data/"
    # Write to a csv file
    data2.to_csv(fp+"2_intermediate_data/census_acs/"+"ACSclean_"+str(year)+".csv")

    print("Done!")

Reading in file: 1_raw_data/census_acs/ACS2009.txt
Done!
Reading in file: 1_raw_data/census_acs/ACS2010.txt

C:\Users\rivera30\AppData\Local\Temp/ipykernel_33640/2409759302.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["year"] = year  #Add a column for the year of the ACS

Done!
Reading in file: 1_raw_data/census_acs/ACS2011.txt
Done!
Reading in file: 1_raw_data/census_acs/ACS2012.txt
Done!
Reading in file: 1_raw_data/census_acs/ACS2013.txt
Done!
Reading in file: 1_raw_data/census_acs/ACS2014.txt
Done!
Reading in file: 1_raw_data/census_acs/ACS2015.txt
Done!
Reading in file: 1_raw_data/census_acs/ACS2016.txt
Done!
Reading in file: 1_raw_data/census_acs/ACS2017.txt
Done!
Reading in file: 1_raw_data/census_acs/ACS2018.txt
Done!
Reading in file: 1_raw_data/census_acs/ACS2019.txt
Done!

In [17]:
#Append datafiles
fp = r"G:/.shortcut-targets-by-id/1hgVHDpl_iZ7es6sKW0QRlC9X6SF58wk7/Machine Learning 4 Cities Final Project/Data/"  # use your path
all_files = glob.glob(os.path.join(fp+"2_intermediate_data/census_acs/", "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_acs   = pd.concat(df_from_each_file, ignore_index=True)
# doesn't create a list, nor does it append to one

In [18]:
concatenated_acs.head()

,Unnamed: 0,geofips,totpop,popdens,areasqmile,males,females,pop18under,pop18_34,pop35_64,...,roc_halfless,roc_half_1,roc_1_onehalf,roc_onehalf_2,roc_2plus,medianyearbuilt,mediangrossrent,medianhhincome,gini,year
0,0,36005000100,11355,17588.760,0.645583,10175,1180,471,6004,4847,...,0,0,0,0,0,NaN,NaN,NaN,NaN,2009
1,1,36005000200,4257,24460.300,0.174037,2063,2194,1275,1033,1634,...,130,296,51,14,0,1947.0,1328.0,55797.0,0.353,2009
2,2,36005000400,4625,16518.510,0.279989,2275,2350,1147,1176,1971,...,206,311,0,0,0,1973.0,1430.0,70486.0,0.380,2009
3,3,36005000500,0,0.000,0.031438,0,0,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,2009
4,4,36005001100,572,3492.311,0.163788,255,317,200,57,265,...,68,187,15,13,0,1996.0,569.0,8554.0,0.593,2009

In [19]:
list(concatenated_acs.columns)

['Unnamed: 0',
 'geofips',
 'totpop',
 'popdens',
 'areasqmile',
 'males',
 'females',
 'pop18under',
 'pop18_34',
 'pop35_64',
 'pop65plus',
 'pophispanic',
 'popnhwhite',
 'popnhblack',
 'popnhaian',
 'popnhasian',
 'popnhhawainpi',
 'popnhother',
 'popnhtwoplus',
 'housing',
 'housingoccupied',
 'renterhousing',
 'oc_halfless',
 'oc_half_1',
 'oc_1_onehalf',
 'oc_onehalf_2',
 'oc_2plus',
 'roc_halfless',
 'roc_half_1',
 'roc_1_onehalf',
 'roc_onehalf_2',
 'roc_2plus',
 'medianyearbuilt',
 'mediangrossrent',
 'medianhhincome',
 'gini',
 'year']

In [20]:
#create proportion variables
concatenated_acs['pct18under']= (concatenated_acs['pop18under'] / concatenated_acs['totpop'])*100
concatenated_acs['pct18_34']= (concatenated_acs['pop18_34'] / concatenated_acs['totpop'])*100
concatenated_acs['pct35_64']= (concatenated_acs['pop35_64'] / concatenated_acs['totpop'])*100
concatenated_acs['pct65plus']= (concatenated_acs['pop65plus'] / concatenated_acs['totpop'])*100
concatenated_acs['pcthispanic']= (concatenated_acs['pophispanic'] / concatenated_acs['totpop'])*100
concatenated_acs['pctnhwhite']= (concatenated_acs['popnhwhite'] / concatenated_acs['totpop'])*100
concatenated_acs['pctnhblack']= (concatenated_acs['popnhblack'] / concatenated_acs['totpop'])*100
concatenated_acs['pctnhaian']= (concatenated_acs['popnhaian'] / concatenated_acs['totpop'])*100
concatenated_acs['pctnhasian']= (concatenated_acs['popnhasian'] / concatenated_acs['totpop'])*100
concatenated_acs['pctnhhawainpi']= (concatenated_acs['popnhhawainpi'] / concatenated_acs['totpop'])*100
concatenated_acs['pctnhother']= (concatenated_acs['popnhother'] / concatenated_acs['totpop'])*100
concatenated_acs['pctnhtwoplus']= (concatenated_acs['popnhtwoplus'] / concatenated_acs['totpop'])*100

#proprotion of housing units owner and renter occupied
concatenated_acs['pctownerocch']= (concatenated_acs['housingoccupied'] / concatenated_acs['housing'])*100
concatenated_acs['pctrentocch']= (concatenated_acs['renterhousing'] / concatenated_acs['housing'])*100

#crowding as a proportion
concatenated_acs['crowding']= ((concatenated_acs['oc_1_onehalf']+concatenated_acs['oc_onehalf_2']+concatenated_acs['oc_2plus']) / concatenated_acs['housing'])*100
concatenated_acs['crowdingrenter']= ((concatenated_acs['roc_1_onehalf']+concatenated_acs['roc_onehalf_2']+concatenated_acs['roc_2plus']) / concatenated_acs['renterhousing'])*100

concatenated_acs.head()

,Unnamed: 0,geofips,totpop,popdens,areasqmile,males,females,pop18under,pop18_34,pop35_64,...,pctnhblack,pctnhaian,pctnhasian,pctnhhawainpi,pctnhother,pctnhtwoplus,pctownerocch,pctrentocch,crowding,crowdingrenter
0,0,36005000100,11355,17588.760,0.645583,10175,1180,471,6004,4847,...,55.147512,0.070454,1.796565,0.0,0.264201,1.056803,NaN,NaN,NaN,NaN
1,1,36005000200,4257,24460.300,0.174037,2063,2194,1275,1033,1634,...,24.054498,0.000000,0.000000,0.0,0.446324,0.164435,60.146104,39.853896,10.876623,13.238289
2,2,36005000400,4625,16518.510,0.279989,2275,2350,1147,1176,1971,...,17.081081,0.000000,1.837838,0.0,1.102703,1.902703,61.816839,38.183161,5.169867,0.000000
3,3,36005000500,0,0.000,0.031438,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,36005001100,572,3492.311,0.163788,255,317,200,57,265,...,36.013986,3.846154,0.000000,0.0,0.000000,0.000000,0.000000,100.000000,9.893993,9.893993

In [21]:
#save appended to a .csv file
fp = r"G:/.shortcut-targets-by-id/1hgVHDpl_iZ7es6sKW0QRlC9X6SF58wk7/Machine Learning 4 Cities Final Project/Data/"

concatenated_acs.to_csv(fp+"2_intermediate_data/"+"acs_2009_2019"+".csv")